* {
    margin: 0;
    border: 0;
}
.main {
    font-size: large;
    color: white;
    
}

.menu-title {
    width: 240px;
    height: 40px;
    margin: 0 auto;
    background-color: #f65040;
    text-align: center;
    border-radius: 10px;
} 

.menu-title-content {

    float: left;
}

.triangle-top {
    float: right;
    margin: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: white;
}
.triangle-bottom {
    margin-left: 330px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: #f65040;

}

.menu-list {
    width: 200px;
    margin: 0 auto;
    background-color: #f65040;
    list-style-type: none;
    border-radius: 10px;
}
.menu-list-content {
    width: 150px;
    height:30px;


}


