* {
    margin: 0;
    border: 0;
}
.main {
    margin-top: 20px;
    font-size: large;
    color: white;
    
}

.menu-title {
    width: 250px;
    height: 50px;
    margin: 0 auto;
    background-color: #f65040;
    text-align: center;
    border-radius: 3px;
} 

.menu-title-content {
    float: left;
    padding-top: 10px;
    margin-left:30px;
    margin-top:2px;
}

.triangle-top {
    float: right;
    margin: 20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: white;
}


.triangle-bottom {
    position: relative;
    top:-58px;
    left: 210px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color:  #f65040;
}

a:hover {
    cursor: pointer;
}

.main:hover  .menu-list{
    display: block;
}


.menu-list {
    width: 250px;
    margin:0 auto;
    margin-top: 20px;
    padding:0;
    background-color: #f65040;
    list-style-type: none;
    border-radius: 3px;
}
.menu-list-content {
    width: 250px;
    height:50px;
    border-bottom: 0.2px #f9eaea solid;
}
.content-left1{
    width: 70px;
    height: 50px;
    float: left;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 150px 120px;
    background-position: 20px -50px;
}
.content-left2{
    width: 70px;
    height: 50px;
    float: left;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 150px 120px;
    background-position: -44px 5px;
}
.content-left3{
    width: 70px;
    height: 50px;
    float: left;
    background-image: url("bg.png");
    background-repeat: no-repeat;
    background-size: 150px 120px;
    background-position: 20px 5px;
}


.content-text{
    padding-top: 15px;
}

